# La publishable key Supabase è progettata per essere usata nel frontend.
VITE_SUPABASE_URL=https://nokweqrevcxbqntxkoir.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_T8cr-ET_qkXlIlBY3TUzWg_dVlwiJqa
